= form_for(@profile) do |f|
	- if @profile.errors.any?
		#error_explanation
			%h2
				= pluralize(@profile.errors.count, "error")
				prohibited this profile from being saved:
			%ul
				- @profile.errors.full_messages.each do |message|
					%li= message

	-if current_user.profile[:avatar].nil?
		#avatar-preview.hidden
		#empty-avatar-preview
			.text You don't have an avatar yet.
	-else
		#avatar-preview.hidden
		#current-avatar{style: "background-image: url(#{current_user.profile.avatar})"}
	%br/
	=f.file_field :avatar, id: "avatar-upload", style: 'display:inline'
	= f.hidden_field :avatar_cache
	%br
	%br
	#user-name
		.col-md-6
			= f.text_field :first_name, autofocus: true, placeholder: "First name", class: 'profile-input profile-name-input'
		.col-md-6
			= f.text_field :last_name, autofocus: false, placeholder: "Last name", class: 'profile-input profile-name-input'
	#user-headline
		.col-md-12
			= f.text_field :headline, autofocus: false, placeholder: "Headline", class: 'profile-input profile-name-input'

	#location
		.col-md-12
			=f.text_field :location, placeholder: "Location", class: 'profile-input profile-name-input'

	= (render 'barber_form', f: f) if current_user.is_a? Barber
	= (render 'client_form', f: f) if current_user.is_a? Client
	= (render 'admin_form', f: f) if current_user.is_a? Admin
	= (render 'barber_admin_form', f: f) if current_user.is_a? BarberAdmin
