= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
	= devise_error_messages!
	=f.hidden_field_tag :profile, true
	-@profile = true
	-if user[:avatar].nil?
		#avatar-preview.hidden
		#empty-avatar-preview
			.text You don't have an avatar yet.
	-else
		#avatar-preview.hidden
		#current-avatar{style: "background-image: url(#{user.avatar})"}
	%br/
	=f.file_field :avatar, id: "avatar-upload", style: 'display:inline'
	= f.hidden_field :avatar_cache
	%br
	%br
	#user-name
		.col-md-6
			= f.text_field :first_name, autofocus: true, placeholder: "First name", class: 'profile-input profile-name-input'
		.col-md-6
			= f.text_field :last_name, autofocus: false, placeholder: "Last name", class: 'profile-input profile-name-input'
	#user-headline
		.col-md-12
			= f.text_field :headline, autofocus: false, placeholder: "Headline", class: 'profile-input profile-name-input'
	#user-bio
		.col-md-12
			= f.text_area :bio, autofocus: false, placeholder: "Bio", class: 'profile-input profile-name-input'
	-# Name
	-# Description
	-# Bio
	-# > Skills
	-# > Endorsements

	.col-md-6
		.user-field
		-# .user-field
		-# 	="Gender"
		-# 	%br
		-# 	= f.select :gender, ["male", "female"], {allow_blank: "Gender"}, {class: 'input profile-input'}
		-# 	%br
		-# 	%br
	.actions
		= f.submit class: 'brand-btn med-btn'
