#users
	.container
		.form.user-form
			%h3 Sign in
			= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
				.col-md-12
					.user-field
						.fa-icon
							%i.fa.fa-user
						= f.email_field :email, autofocus: true, placeholder: "Email", class: 'user-input email'
				.col-md-12
					.user-field
						.fa-icon
							%i.fa.fa-lock
						= f.password_field :password, placeholder: "Password", autocomplete: "off", class: 'user-input password'
				- if devise_mapping.rememberable?
					.field
						= f.check_box :remember_me
						= f.label :remember_me
				.actions
					= f.submit "Log in", class: 'brand-btn med-btn'
			= render "devise/shared/links"
