#cms
	#organization.container
		-organization_name = @organization.name.present? ? @organization.name : "your barbershop"
		-organization_phone = @organization.phone.present? ? @organization.phone : "your phone number"
		.section-container
			=react_component "OrganizationInput", props: {organization: @organization, orgName: organization_name, orgPhone: organization_phone}, prerender: false

		.section-container
			.links-container
				.header="Your invite link:"
				%button#organization-link-button.brand-btn{ 'data-clipboard-action' => 'copy', 'data-clipboard-target' => '#organization-link-text'}
					Copy link
				%span#organization-link-text= "#{request.host}/?invite=#{@organization.code}"
				%br
				%br
				.grey-text="Copy this link and give it to people you'd like to invite to your barber shop."

		.section-container
			.header="Your members:"
			.members-list
				.grey-text="You currently have #{pluralize((@organization.memberships.count - 1), 'member')} in your barber shop."
				%br
				-if @organization.memberships.any?
					-count = 1
					-@organization.memberships.each do |membership|
						-unless membership.user == current_user
							.org-member
								= membership.user.email if membership.user
								=link_to membership_path(membership), method: :delete, data: { confirm: "Are you sure?" }, class: 'delete-membership' do
									.fa.fa-times
								%br
								-# .view-schedule{"data-toggle": "collapse", "data-target": "#member-schedule-#{count}"}
								-# 	="View Schedule"
								-# 	%span.fa.fa-chevron-down
								-# %br
								-# .collapse{id: "member-schedule-#{count}"}
								-# 	-if membership.user.events.any?
								-# 		-membership.user.events.each do |event|
								-# 			.appointments-list.col-md-12{style:'text-align:left'}
								-# 				.col-md-2
								-# 					=link_to profile_path(event.client) do
								-# 						=image_tag event.client.default_avatar, width: 35, class: 'avatar'
								-# 						=event.client.name
								-# 				.col-md-2
								-# 					=event.start_time.strftime('%a, %b %-d')
								-# 				.col-md-2
								-# 					="From: #{event.start_time.strftime('%I:%M %p')}"
								-# 				.col-md-2
								-# 					="To: #{event.end_time.strftime('%I:%M %p')}"
								-# 				.col-md-2
								-# 					=event.style.try(:name).try(:capitalize)
								-# 				.col-md-2
								-# 					Services
								-# 	-else
								-# 		.grey-text="#{membership.user.name} has no appointments."
								-#
								-# -count += 1
