#cms
	#organization.container
		-organization_name = @organization.name.present? ? @organization.name : "your barber shop"
		.section-container
			=react_component "OrganizationInput", props: {organization: @organization, orgName: organization_name}, prerender: false

		.section-container
			.links-container
				.header="Your invite link:"
				%button#organization-link-button.brand-btn{'data-clipboard-target' => 'organization-link-text'}
					Copy link
				%span#organization-link-text= "#{request.host}/?invite=#{@organization.code}"
				%br
				%br
				.grey-text="Copy this link and give it to people you'd like to invite to your barber shop."

		.section-container
			.header="Your members:"
			.members-list
				.grey-text="You currently have #{pluralize((@organization.memberships.count - 1), 'member')} in your barber shop."
				%br
				-if @organization.memberships.any?
					-@organization.memberships.each do |membership|
						-unless membership.user == current_user
							= membership.user.email if membership.user
							=link_to membership_path(membership), method: :delete, data: { confirm: "Are you sure?" }, class: 'delete-membership' do
								.fa.fa-times

							View Schedule
